.task {
  background-color: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder{
  border-left: 3px solid green;
}

.task h4{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task p{
  color: #919191;
  font-size: 10px; 
}
